
#goBack {
	color: black;
}

.nav-up {
  top: -30px;
}

#port-nav {
	width: 15vw;
	height: 30vh;
	position: fixed;
	top: 20%;
	font-family: 'geogrotesque';
	text-align: right;
}


#port-scroll {
	position: absolute;
	width: 80vw;

	right: 0;
	top: 10%;

}

.portDivs {
	width: 100%;
	height: 100vh;
}

#port-info {
	width: 50%;
	text-align: justify;
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#branding {

}

#editorial {

}



#illustration {

}

#Layer_x {
	width: 175%;
}
