
@font-face {
	font-family: headerFont;
	src: url(/Fonts/aliens and cows_trial.ttf);
}

.cls-1 {	
	right: 0;
 	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/*---------------------------------------------------
---------------------------------------------------*/
/*NAV BAR*/

header {
	width: 100vw;
	height: 100px;
	background-color: rgba(255,255,255,0.8);

	top:0;
	left: 0;
	position: fixed;
	z-index: 0;
}
nav {
	width: 100vw;
	position: absolute;
	font-family: headerFont;
	font-size: 10pt;
}

nav ul li {
	z-index: 1000;
	padding-left: 25px;
	padding-top: 25px;
	display: inline-block;
}

 #logonav {
	float:right;
	margin-right: 50px;
}




a { 
	cursor: pointer;
	color: black;
	text-decoration: none;
}
a:hover {
	color: black;
}
a:active {
	color: black;
}
a:visited {
	color: black;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*canvas {
	
	width: 100vw;
	height: 100vh;
	z-index: -100;

}*/

/*portfolio buttons*/
.pages {
	position: absolute;
	margin-top: 20px;
	font-family: 'rift';
	right: 10px;
	top: 100px;
}

#homeme, #infome, #contactme {
	background-color: rgba(255,255,255, .8);
	padding: 20px 40px;
	text-align: left;
	width: 30vw;
	min-height: 250px;
	border-left: 10px solid transparent;
	position: absolute;
	transition: 1s ease-in-out;
}


#homeme {
	top: 20px;
	border-color: #fc0;
}

#infome {
	top: 40px;
	border-color: #cd9;
}

#contactme {
	top: 60px;
	border-color: #007;
}

.showing {
	position: absolute;
	transform: translateX(-60vw);
	transition: 1s ease-in-out;
}

.hidden {
	/*visibility: hidden;*/
}


/* responsive */
@media only screen and (max-width: 736px) {
	body {
		background-color: white;
		overflow: hidden;
	}

	#homeme, #infome, #contactme {
		width: 70vw;
		min-height: 250px;
		position: absolute;
		transition: 1s ease-in-out;
		margin: auto;

}

	.showing {
		position: absolute;
		transform: translateX(-90vw);
		transition: 1s ease-in-out;
		left: -5vw;
}

.pages {
		bottom: 0;
}






		/*FOR RESPONSIVE IPHONE MUST RESIZE FONT SIZE AND POSITION OF DIVS TO BOTTOM FOR IPHONES ONLY*/


















