
@font-face {
	font-family: headerFont;
	src: url(../font/HomemadeApple-Regular.ttf);
}

@font-face {
	font-family: bodyCopy;
	src: url(../font/geogrotesque/Geogtq-Lg.otf);
}

.cls-1 {	
	right: 0;
 	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.cls-5 {	
	right: 0;
 	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 30s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#sam {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: -1000;
}

	#samwalks,
	#samsits-img {
		display: none;
	}

.st0 {	
	right: 0;
 	stroke-dasharray: 600;
  	stroke-dashoffset: 600;
  	animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.cls-4 {	
	right: 0;
 	stroke-dasharray: 100;
  	stroke-dashoffset: 100;
  	animation: dash 10s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#tellMe {
	margin: 10px;
	height: 30px;
	width:200px;
	background-color: white;
	box-shadow: 2px 4px 4px 1px rgba(0,0,0,.3);
	color: black;
	border-color: white;
	left: 0;
	right: 0;
	margin: 10px;
	text-align: center;
	border-radius: 0 12px 12px 12px;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, .4);

}

#center {
	text-align: center;
}

#resp-header {
	display: none;
}

#home-body {
	background-color: #FFB704;
	z-index: -3;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position:fixed;
	position: absolute;
	transition: .75s ease-in-out;

	top: 0;
}

#hithere {
	z-index:-1000;
	width: 110vw;
	height: 110vh
	position: absolute;
	transition: ease-in-out 1s;
	overflow:hidden;
/*	min-height: 250px;*/
}




/*---------------------------------------------------
---------------------------------------------------*/
/*NAV BAR*/

ul {
	padding: 0;
	position: relative;
}

li {
	display: inline-block;

}

header{
	width: 100vw;
	position: fixed;
	left: 0;
  	position: fixed;
  	transition: top 0.2s ease-in-out;
	top: 0;
	height: 50px;
	border-bottom: 1px solid white;
}




h1 {
	margin-top: 0px;
	font-style: italic;
	font-size: 6em;
	font-family: futura;
	color: white;
	position: absolute;
	width: 100vw;
	text-align: center;
	transition: ease-in-out 1s;
}

h2 {
	text-align: center;
}


nav {
	font-family: bodyCopy;
	font-size: 11pt;
	color: black;
	z-index: 10000;

}




.navlink{
	z-index: 1000;
	display: inline-block;
	color: black;
	text-align: center;
	width: 4vw;
}


.pagenav, .socialnav {
	display: inline-block;
	position: absolute;
}

.pagenav {
	left: 10vw;
}

.socialnav {
	right: 10vw;
	cursor: pointer;
}




/*social icons*/

i {
	font-size: 22pt;
	padding: 0;
	padding-top: 0;
	color: white;
}



#short{
	margin-top: 28px;
	width: 30%;
	padding: 0;
	box-sizing: border-box;

}
.diploma {
	font-size: 18pt;
	color: white;
	text-shadow: 2px 2px 2px rgba(0,0,0,.05);
}

#bcit {
	font-style: italic;
}

.adobe-icons {
	width: 31px;
	padding: .5vw;

}



a { 
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: white;
	transition: ease-in-out .5s;
	transform: scale(1.5);
}


a:visited {
	color: black;
}
 
.hmu {
	color: darkgray;
}

.zine {
	color: #9FA;
	font-family: headerFont;
}


/*---------------------------------------------------
---------------------------------------------------*/
/*portfolio buttons*/
.pages {
	position: absolute;
	font-family: headerFont;
	right: -10px;
	top: 50px;

}

#homeme, #infome, #skillsme {
	top: 30px;
	padding: auto;
	min-height: 100vh;
	border-left: 7px solid transparent;
	position: absolute;
	transition: 1s ease-in-out;
/*	left: -5px;*/
	padding-top: 10vh;	
}


#infome {
	width: 75vw;
	text-align: justify;

}

#homeme {
	width: 95vw;
	text-align: center;


}

#skillsme {
	width:  95vw;
	text-align: center;
}

#copyInfo,
#copyInfo-about {
	margin: auto;
	margin-top: 5px;
}
#copyInfo {
	width: 45vw;
}

#copyInfo-about {
	width: 38vw;
}


h3 {

	font-size: 3em;
	margin: 0;
	padding: 0;
	font-family: futura;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	color: black;
	text-shadow: 3px 2px 2px rgba(0,0,0,.2);
}

h2 {
	font-family:futura;
	font-size: 1em;
	margin-top: 0;
	margin-left: 2vw;

}


p {
	font-family:bodyCopy;
	font-weight: 100;
	font-size: 11pt;
	margin: 0;
	color: black;
}

.showing {
	position: absolute;
	transform: translateX(-98vw);
	transition: 1s ease-in-out;
}

.overlap {
	background-color: white;
}

.hidden {
	/*visibility: hidden;*/
}

.email {
	display: block;
}

#thisEmail {
	font-size: 4em;
	text-align: center;
}

/*


/*services*/

.skills {
	font-size: 2em;
	margin: 0;
	padding: 0 5px 0 5px;
	text-align: center;
	color: #0a0a0a;
	text-shadow: 2px 2px 2px rgba(0,0,0,.2);

}

.skillsets {
	width: 10vw;
	height: auto;
	display: inline-block;
}

#skill {
	font-family: futura;
}


.contact {
	font-size: 18pt;
	margin: 0;
	padding: 0 0 0 2vw;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px rgba(0,0,0,.2);
	display: inline-block;
	float: right;
	margin-right: 20px;

}





















